.print {
  margin: 1.5cm;
  width: 21cm;
  height: 29.7cm;
  margin-top: 0.3cm;
  h1, h2, h3, h4 {
    text-align: center;
  }
  &__report-table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    td, th {
      border: 1px solid #ddd;
      text-align: center;
      padding: 15px;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2
    }
    tr:hover {
      background-color: #f5f5f5
    }
  }
  &__firm-name {
    font-weight: normal;
  }
  &__title {
    margin-top: 1.4cm;
  }
  &__period {
    margin-top: 0.6cm;
    font-weight: normal;
  }
  #signature {
    font-size: 0.5cm;
  }
}
