<div class="graph" ng-class="{'graph_hidden': $ctrl.listEnable}">
    <div class="graph__toolbar-top">
        <button class="button" ng-click="$ctrl.toggle()"><img src="images/list.svg"></button>
        <button class="button graph__print" ng-click="$ctrl.print()">Печать</button>
        <button class="graph__logout" ng-click="$ctrl.logOut()">Выход</button>
    </div>
    <!--<nvd3 options="$ctrl.options" data="$ctrl.data"></nvd3>-->
    <svg class="graph__canvas" style="height: 500px"></svg>
    <!--<a class="button" ui-sref="print">-->
    <!--Print-->
    <!--</a>-->

    <div class="graph__toolbar_right">
        <div class="graph__toolbar">
            <div><input type="datetime" date-time ng-model="$ctrl.startPeriod" required format="DD-MM-YYYY HH:mm"></div>
            <div><input type="datetime" date-time ng-model="$ctrl.endPeriod" required format="DD-MM-YYYY HH:mm"></div>
            <button class="button" ng-click="$ctrl.period()">За период</button>
        </div>
        <button class="button" ui-sref="graph({interval: 1, startPeriod: null, endPeriod: null})">1 час</button>
        <button class="button" ui-sref="graph({interval: 3, startPeriod: null, endPeriod: null})">3 часа</button>
        <button class="button" ui-sref="graph({interval: 12, startPeriod: null, endPeriod: null})">12 часов</button>
        <button class="button" ui-sref="graph({interval: 24, startPeriod: null, endPeriod: null})">1 сутки</button>
        <button class="button" ui-sref="graph({interval: 72, startPeriod: null, endPeriod: null})">3 суток</button>
    </div>
    <tree-component params-list="$ctrl.paramsList" ng-if="$ctrl.paramsList&&$ctrl.listEnable"></tree-component>
    <!--<button ng-click="$ctrl.set()">Set</button>-->
    <table class="graph__table">
        <thead>
        <tr>
            <th colspan="3">Дата: <span ng-bind="$ctrl.getDate()"></span></th>
            <th colspan="2">Норма</th>
        </tr>
        <tr>
            <!--<th width="10"></th>-->
            <th>Параметр</th>
            <th>Ед.изм.</th>
            <th>Значение</th>
            <th>от</th>
            <th>до</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="value in $ctrl.currentValue">
            <!--<td><img class="" src="images/check.svg"></td>-->
            <td ng-bind="value.series.key"></td>
            <td ng-bind="value.series.Parameter.MeasurementsUnit"></td>
            <td ng-bind="value.point.y"></td>
            <td>
                <input type="number" ng-if="$ctrl.canEditLimits&&value.series.downErrPlcEnable==true"
                       ng-model="value.series.Parameter.DownErrPlc"/>
                <span ng-if="value.series.downErrPlcEnable!==true" ng-bind="value.series.Parameter.DownErrPlc"
                      ng-dblclick="$ctrl.editMode(value.series, 'downErrPlcEnable')"></span>
            </td>
            <td>
                <input type="number" ng-if="$ctrl.canEditLimits&&value.series.upErrPlcEnable==true"
                       ng-model="value.series.Parameter.UpErrPlc" dl-enter-key="$ctrl.save(value.series)"/>
                <span ng-if="value.series.upErrPlcEnable!==true" ng-bind="value.series.Parameter.UpErrPlc"
                      ng-dblclick="$ctrl.editMode(value.series, 'upErrPlcEnable')"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>