<img class="busy-indicator" src="images/Spinner.gif" ng-if="$ctrl.isBusy">
<div class="graph" ng-class="{'graph_hidden': $ctrl.listEnable}">
    <div class="graph__toolbar-top">
        <button class="button" ng-click="$ctrl.toggle()"><img src="images/list.svg"></button>
        <button class="button" ng-click="$ctrl.print()">Печать</button>
    </div>
    <!--<nvd3 options="$ctrl.options" data="$ctrl.data"></nvd3>-->
    <svg class="graph__canvas"></svg>
    <!--<a class="button" ui-sref="print">-->
    <!--Print-->
    <!--</a>-->
    <div class="graph__toolbar">
        <button class="button" ui-sref="graph({interval: 1})">1 час</button>
        <button class="button" ui-sref="graph({interval: 3})">3 часа</button>
        <button class="button" ui-sref="graph({interval: 12})">12 часов</button>
        <button class="button" ui-sref="graph({interval: 24})">1 сутки</button>
        <button class="button" ui-sref="graph({interval: 72})">3 суток</button>
    </div>
    <tree-component params-list="$ctrl.paramsList" ng-if="$ctrl.paramsList&&$ctrl.listEnable"></tree-component>
</div>